<!DOCTYPE html>
<html>
<body>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>

<h2>Book recommendation app</h2>

<p>Type in book name you like and we will find some to recommend you.</p>

<form>
  <label for="fname">Book title:</label><br>
  <input type="text" id="bookname" name="bookname" value="1984"><br>
  <label for="fname">Book author:</label><br>
  <input type="text" id="autname" name="autname" value="George Orwell"><br>
  <button type="button">Let's search!</button>
</form>

<p> Books matchiong your reading preferences. </p>

<table style="width:100%">
  <tr>
    <th>Match</th>
    <th>Book</th> 
    <th>Author</th>
	<th>Year</th>
	
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
	<td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
	<td>94</td>
  </tr>
  <tr>
    <td>John</td>
    <td>Doe</td>
    <td>80</td>
	<td>80</td>
  </tr>
</table>

</body>
</html>